body, html
{
	background-color:grey;
	height: 100%;
}

.header
{
	margin-top:auto;
	background-color:darkgrey;
	height:25%;
	margin-right:15%;
	margin-left:15%;
	border-style: groove;
}

.login
{
	float:right;
	align-content:right;
	color:white;
	background-color:black;
	border-style:groove;
	width:25%;
	height:40%;
}

.profile
{
	position:relative;

	width:10%;
	height:50%;
}

.profile .profile-pic
{
	max-width:100px;
	filter:none;
}

.main
{
	
	margin-right: 15%;
	margin-left: 15%;
	height:inherit;
	border-style: groove;
	background-color:lightgrey;

}

