body, html
{
	background-color:grey;
	height: 100%;
	margin:0;
	padding:0;
	overflow-x: hidden;
}



.header
{
	background-color:darkgrey;
	height:20%;
	margin-right:15%;
	margin-left:15%;
	border-style: groove;
}

.header-logo
{
	height:100%;
}
.nav-bar
{

	color:white;
	background-color:black;
	height:80px;
	position:relative;
	margin-right:15%;
	margin-left:15%;

}

.nav-options
{
	
	background-color:white;

}

.nav-options ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #333;
}
.nav-options ul li
{
	float:left;
}

.nav-options ul li a
{
	display: block;
	color:white;
	text-align:center;
	padding:30px 26px;
	text-decoration:none;
}

.nav-options ul li a:hover
{
	background-color:#111;
}

.main
{
	
	margin-right: 15%;
	margin-left: 15%;
	height:inherit;
	border-style: groove;
	background-color:lightgrey;

}

.campaigns
{
	display:inline-block;
	overflow:hidden;
	border:groove;
	height:50%;
	width:30%;
	margin-left:10%;
	margin-top:10%;
	margin-right:9%;
	margin-bottom:10%;
}

.campaigns img
{
	width:100%;
	height:100%;
}

.actions
{
	border:groove;
	display:inline-block;
	vertical-align: top;
	margin-left:9%;
	margin-top:10%;
	margin-right:10%;
	margin-bottom:10%;
	width:30%;
	height:100%;

}
.attacks, .defence, .movement
{
	border:groove;
	margin-top:10%;
	margin-bottom:10%;
	height:20%;
}
